
<div class="text-darken-4">
  <div class="row">
    <div class="input-field col s12">
      <input id="searchInput" name="searchInput" type="text" class="validate" (input)="terms$.next($event.target.value)"/>
      <label class="active" for="searchInput">Search</label>
    </div>
  </div>
</div>

<ul class="collection">
  <li *ngFor="let contact of contacts | async" class="collection-item avatar">
    <a [routerLink]="['/contact', contact.id]">
      <img [src]="contact.image" alt="" class="circle">
      <span class="title">{{contact.name}}</span>
    </a>
	  <div class="right horizontal">
		  <a class="btn-floating btn-medium waves-effect waves-light" (click)="deleteContact(contact)"><i class="material-icons">remove</i></a>
	  </div>
  </li>
</ul>

<div class="fixed-action-btn horizontal">
	<a class="btn-floating btn-large" [routerLink]="'/contacts/new'"><i class="large material-icons">add</i></a>
</div>